<div id="pins" class="position-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag pin.picture.url), pin %>
        <div class="panel-body">
          <div class="card-block">
            <h2 class="card-title"><%= link_to pin.title, pin %></h2>
            <p class="card-text"><%= pin.description %></p>
            <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(pin.created_at) %> ago</small></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
